.container .game-container, .container .game-container .letters .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  background: #000000;
  color: #ffd9e6;
  max-width: 100%; }

.container {
  padding-bottom: 10px;
  max-width: 1600px; }
  .container .heading {
    width: 100%;
    text-align: center; }
    .container .heading h1 {
      padding: 15px;
      font-size: 3em;
      text-decoration: underline;
      letter-spacing: 3px; }
    .container .heading h2 {
      padding: 10px 0 20px 0;
      letter-spacing: 10px; }
    .container .heading h3 {
      padding-bottom: 40px; }
  .container .game-container {
    width: 100%;
    padding-top: 10px;
    justify-content: space-around; }
    .container .game-container .letters {
      width: 50%;
      text-align: center;
      padding-left: 50px; }
      .container .game-container .letters .row {
        width: 100%;
        justify-content: space-around; }
      .container .game-container .letters .let {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 2px solid #ffd9e6;
        margin: 5px;
        cursor: pointer;
        font-size: 2em;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        border-radius: 10%; }
        .container .game-container .letters .let:hover {
          opacity: 0.7; }
      .container .game-container .letters h1 {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 20px; }
      .container .game-container .letters p {
        padding-bottom: 10px; }
      .container .game-container .letters button {
        margin-top: 10px;
        width: 50%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        border-radius: 10%;
        font-size: 2em;
        border: 0;
        cursor: pointer; }
        .container .game-container .letters button:hover {
          opacity: 0.8; }
    .container .game-container .hangman-img {
      width: 50%;
      text-align: center; }
      .container .game-container .hangman-img img {
        width: 80%;
        height: auto;
        border: 1px solid #ffd9e6;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        border-radius: 10%; }

@media only screen and (max-width: 1100px) {
  .container .game-container .letters {
    width: 40%; }
  .container .game-container .hangman-img {
    width: 60%; } }
@media only screen and (max-width: 768px) {
  .container .game-container .letters {
    width: 35%;
    padding: 0 0 0 10px;
    text-align: center; }
  .container .game-container .hangman-img {
    width: 65%;
    margin: 0; } }
@media only screen and (max-width: 640px) {
  .container .heading {
    width: 100%;
    text-align: center; }
    .container .heading h1 {
      padding: 15px 0 10px 0; }
    .container .heading h2 {
      padding: 10px 0 20px 0;
      letter-spacing: 10px; }
    .container .heading h3 {
      padding-bottom: 5px; }
  .container .game-container {
    flex-direction: column; }
    .container .game-container .letters {
      width: 100%;
      padding: 0; }
      .container .game-container .letters .let {
        margin: 3px; }
    .container .game-container .hangman-img {
      width: 100%;
      padding-top: 15px; } }

/*# sourceMappingURL=style.css.map */
